global
    log /dev/log    local0
    log /dev/log    local1 notice

defaults
        mode    tcp
        option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000
### frontends
# Optional HAProxy Stats Page accessible at http://<host-ip>:8181/haproxy?stats
frontend app_stats
        mode http
        bind 0.0.0.0:8181
        default_backend app_stats
frontend app_80
        mode tcp
        bind 0.0.0.0:80
        default_backend app_upstream_servers_80
frontend app_443
        mode tcp
        bind 0.0.0.0:443
        default_backend app_upstream_servers_443
### backends
backend app_stats
        mode http
        option httplog
        stats enable
        stats admin if TRUE
        stats refresh 5m
backend app_upstream_servers_80
        mode tcp
        option httpchk GET /health HTTP/1.1\r\nHost:\ <DTR_FQDN>
	{% for host in groups.app %}
		server {{ host }} {{ host }}.{{ domain_name }}:80 check weight 100
	{% endfor %}
backend app_upstream_servers_443
        mode tcp
        option httpchk GET /health HTTP/1.1\r\nHost:\ <DTR_FQDN>
        {% for host in groups.app %}
                server {{ host }} {{ host }}.{{ domain_name }}:443 check weight 100 check-ssl verify none
        {% endfor %}
